<form name="loginform" id="loginform" action="{{ form_action }}" method="post">
  <p>
    <label for="user_otp">Get the verification code from your <strong>Authenticator</strong> app</label>
    <input type="text" name="otp" id="user_otp" class="input" value="" size="20" autocapitalize="off">
  </p>
  <p class="submit">
    <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Log In">
    <input type="hidden" name="log" value="{{ form_username }}">
    <input type="hidden" name="pwd" value="{{ form_password }}">
    <input type="hidden" name="redirect_to" value="{{ form_redirect }}">
    <input type="hidden" name="testcookie" value="1">
  </p>
</form>