<div class="wrap">
  <h1><strong>Set-up two-factor authentication</strong></h1>
  <p>Follow the instructions to proceed with activating <strong>two-factor authentication</strong> on your account.</p>
  <hr>
  <div>
    <h1><strong>1. Download an authentication app</strong></h1>
    <p>To use two-factor authentication, you must download an application on your mobile or desktop device.</p>
    <p>We recommend installing an application on a separa  device to the one you primarily login with such as a mobile phone.</p>
    <h2>Apple - macOS, iOS, iPad</h2>
    <ul>
      <li><a target="_blank" href="https://apps.apple.com/us/app/google-authenticator/id388497605">Google Authenticator</a></li>
      <li><a target="_blank" href="https://apps.apple.com/us/app/microsoft-authenticator/id983156458">Microsoft Authenticator</a></li>
      <li><a target="_blank" href="https://apps.apple.com/us/app/authy/id494168017">Authy for iOS</a></li>
    </ul>
    <h2>Android - Samsung, Pixel, HTC</h2>
    <ul>
      <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Google Authenticator</a></li>
      <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.azure.authenticator">Microsoft Authenticator</a></li>
      <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.authy.authy">Authy for Android</a></li>
    </ul>
    <h2>Desktop - Microsoft Windows, macOS, Linux</h2>
    <ul>
      <li><a target="_blank" href="https://authy.com/download/">Authy for Desktop</a></li>
    </ul>
  </div>
  <hr>
  <div>
    <h1><strong>2. Scan the QR code below or enter code manually</strong></h1>
    <p>You must scan the QR code into the authentication app you installed in the previous step.</p>
    <p>If you are unable to scan the code using you camera, then you can <strong>enter the secret manually into your authentication app</strong>.</p>
    <table class="form-table" role="presentation">
      <tr>
        <th>QR Code</th>
        <td id="setup-qr-code"></td>
      </tr>
      <tr>
        <th>Secret Code</th>
        <td><label id="setup-secret" class="code uppercase">{{ secret }}</label></td>
      </tr>
      <tr>
        <th><label>Secret expiring in</label></th>
        <td><label>{{ expiry_min }}</label></td>
      </tr>
    </table>
  </div>
  <hr>
  <div>
    <h1><strong>3. Verify your authentication codes</strong></h1>
    <p>Enter a code from your device to finish the setup process</p>
    <form action="" method="post">
      <input name="setup_otp" class="code ltr" type="text">
      <input name="setup_submit" class="button button-primary" type="submit" value="Verify code">
    </form>
  </div>
</div>
<script>
var uri = "otpauth://totp/{{ issuer }}:{{ email }}?secret={{ secret }}&issuer={{ issuer }}";
var el = kjua({text: uri});
document.getElementById('setup-qr-code').appendChild(el);
</script>