<h2>F2FA - Two-factor Authentication</h2>
<table class="form-table" role="presentation">
  <tbody>
    <tr>
      <th><label>Activation Status</label></th>
      <td><label>{% if activated %}Enabled{% else %}Disabled{% endif %}</label></td>
    </tr>
    <tr>
      <th><label>Activation Date</label></th>
      <td><label>{{ activation_date }}</label></td>
    </tr>
    <tr>
      {% if activated %}
      <td><input class="button" type="submit" value="Turn off authenticator"></td>
      <td><a href="/wp-admin/options-general.php?page=f2fa-setup" class="button">Reset Authenticator</a></td>
      {% else %}
      <td>
        <a href="/wp-admin/options-general.php?page=f2fa-setup" class="button">Activate authenticator</a>
      </td>
      {% endif %}
    </tr>
  </tbody>
</table>